#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


%:
	dh $@

override_dh_auto_build:

	test -r $(CURDIR)/conf-cc'{orig}' || cp -f $(CURDIR)/src/conf-cc conf-cc'{orig}'
	echo "diet -v gcc -O2 -Wall" > $(CURDIR)/src/conf-cc
	
	test -r $(CURDIR)/conf-ld'{orig}' || cp -f $(CURDIR)/src/conf-ld conf-ld'{orig}'
	echo "diet -v gcc -static -O2 -pipe" > $(CURDIR)/src/conf-ld
	
	$(CURDIR)/package/compile || exit 1
	$(CURDIR)/package/install-man
	

override_dh_auto_install:
	install -dm755 debian/runit/etc/service
	install -dm755 debian/runit/var/lib/supervise
	install -dm755 debian/runit/etc/sv
	install -dm755 debian/runit/etc/runit
	install -dm755 debian/runit/sbin
	install -dm755 debian/runit/usr/bin
	install -dm755 debian/runit/usr/share/doc/runit
	install -dm755 debian/runit/usr/share/man/man8
	
	cd debian/aaa/sv/ && for i in $$(ls -d */); do echo $$i; cp -pr $(CURDIR)/debian/aaa/sv/$$i $(CURDIR)/debian/runit/etc/sv/$$i; done
	
	cd $(CURDIR)/doc && for i in $$(ls); do echo $$i; cp -pr $(CURDIR)/doc/$$i $(CURDIR)/debian/runit/usr/share/doc/runit/$$i; done
	
	cd $(CURDIR)/man && for i in $$(ls *.gz); do echo $$i; cp -pr $(CURDIR)/man/$$i $(CURDIR)/debian/runit/usr/share/man/man8/$$i; done

	
	for i in 1 2 3 ctrlaltdel; do install -m0755 debian/aaa/$$i debian/runit/etc/runit; done
	
	for i in runit runit-init; do install -m0755 $(CURDIR)/command/$$i debian/runit/sbin || exit 1; done
	
	
	for i in runsvdir runsv sv svlogd chpst runsvchdir utmpset; do install -m0755 $(CURDIR)/command/$$i debian/runit/usr/bin/ || exit 1; done

override_dh_auto_clean:
	rm -rf $(CURDIR)/command
	rm -rf $(CURDIR)/compile
	rm -rf $(CURDIR)/man/*.gz
	test ! -r $(CURDIR)/conf-cc'{orig}' || mv -f $(CURDIR)/conf-cc'{orig}' $(CURDIR)/src/conf-cc
	test ! -r $(CURDIR)/conf-ld'{orig}' || mv -f $(CURDIR)/conf-ld'{orig}' $(CURDIR)/src/conf-ld

override_dh_auto_test:
#	$(CURDIR)/package/check
